.Footer{
    display: flex;
    width: 100%;
    height: 150px;
    background-color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
        .Logo-Footer {
        margin-bottom: 20px;
    }

        .Text-Footer {
            display: flex;
            text-transform: none;
            font-size: 12px;
            align-items: center;
            gap:5px;

            h2 {
                color: white;
                font-size: 15px;
                font-weight: 200;
                font-family: 'Montserrat';
                padding-bottom: 2px;
            }
        
        }
        
}


