@import "../../mixins";

.DescBox {
  display: flex;
  gap: 25px;
}
.AccordionBox {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 100%;
  margin-bottom: 18px;
  width: 100%;
  max-width: 880px;
  margin: 0 auto 18px auto;
  .AccordionHeader {
    @include descbox;
  }
}
.AccordionContent {
  background: #fafafa;
  color: #222;
  padding: 20px 30px 22px;
  border-radius: 0 0 10px 1px;
  font-weight: 400;
  font-family: "MontSerrat";
  box-shadow: 0 2px 12px rgba(255, 96, 96, 0.09);
  max-height: 800px;
  opacity: 1;
  overflow: hidden;
  transition: max-height 0.35s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.25s,
    padding 0.18s;
}
.AccordionContent--closed {
  max-height: 0;
  opacity: 0;
  padding: 0 22px;
  pointer-events: none;
}
